{% include 'top.html' %}

{% block content %}

<form action="#" method="post">
    <p>Enter UOS Code:</p>
    <p><input type="text" name="uoscode" placeholder="eg. INFO2005" /></p>
    <p>Enter UOS Code of Prerequisite:</p>
    <p><input type="text" name="prerequoscode" placeholder="eg. COMP5138" /></p>
    <p>Enter Date of Enforcement:</p>
    <p><input type="text" name="enforcedsince" placeholder="eg. 2006-11-01" /></p>
    <p><input type="submit" value="submit"/></p> 
    
    
    
{% endblock %}