<!DOCTYPE html>
<html>
    <head>
        <!-- this goes to the 'static' folder and grabs our CSS -->
        <!-- [Brief Intro:] CSS is how we make the websites look nicer -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pure.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <!-- Generating the menu and what happens when the user is logged in VS logged out -->
        <div id="header" class="pure-menu pure-menu-horizontal">
            <a href="/" class="pure-menu-heading pure-menu-link">UniDB</a>
            {% if session.logged_in %}
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{{ url_for('list_units') }}" class="pure-menu-link">All Units</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('list_classroom') }}" class="pure-menu-link">All Classrooms</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('find_classroom') }}" class="pure-menu-link">Find Classrooms</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('count_classroom') }}" class="pure-menu-link">Number of Classrooms by Type</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('logout')}}" class="pure-menu-link">Logout</a></li>
            </ul>
            {% endif %}
            <div id="top-unikey">{{ page.unikey }}</div>
        </div>
        <!--
            This is for our flashed messages
            Whenever we use flash('message in here')
            it will come out inside this list
        -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
